<h2> Eop Calculator 500</h2>
<ul class= "nav nav-tabs">
    <li>{{#link-to 'home' class='glyphicon glyphicon-home'}} Home {{/link-to}}</li>
    <li>{{#link-to 'histories' class='glyphicon glyphicon-time'}} Histories {{/link-to}}</li>
    <li>{{#link-to 'calculator' class='glyphicon glyphicon-education'}} Calculator {{/link-to}}</li>
</ul>
{{outlet}}
